# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads
uploads/*

# OS
.DS_Store
Thumbs.db

# Workspace
../workspace.code-workspace
